/*
* @Author: liyue
* @Date:   2018-06-20 17:56:11
* @Last Modified by:   EWL
* @Last Modified time: 2018-06-20 18:23:04
*/
.box {
    width: 200px;
    height: 200px;
    /*background: linear-gradient(0deg, #9acd32 50%, #ddd 0);*/
    /*background: linear-gradient(45deg, #9acd32 50%, #ddd 0);*/
    /*background: linear-gradient(90deg, #9acd32 50%, #ddd 0);*/
    /*background: linear-gradient(180deg, #9acd32 50%, #ddd 0);*/

    /* 需要斜向条纹的时候，需要使用类似于四色条纹的原理 */
    background: linear-gradient(45deg, #9acd32 25%, #ddd 0, #ddd 50%, #9acd32 0, #9acd32 75%, #ddd 0);


    background-size: 50px 50px ;
}